<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.visit.dao.VisitMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.visit.entity.VisitEntity">
		SELECT
			`id`, 
			`name`, 
			`content`, 
			`mobile`, 
			`contact_address`,
			`org_id`,
			`user_id_create`,
			`remarks`,
			`operator`, 
			`create_time`, 
			`update_time`, 
			`delete_time`
		FROM
			b_visit
		WHERE
			1=1
		<if test="data_permission_sql != null and data_permission_sql != ''"> and  ${data_permission_sql} </if>

		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO b_visit (
			`name`, 
			`content`, 
			`mobile`, 
			`contact_address`, 
			`org_id`,
			`user_id_create`,
			`remarks`, 
			`operator`, 
			`create_time`, 
			`update_time`, 
			`delete_time`
		)
		VALUES (
			#{name}, 
			#{content}, 
			#{mobile}, 
			#{contactAddress}, 
			#{orgId},
			#{userIdCreate},
			#{remarks}, 
			#{operator}, 
			#{createTime}, 
			#{updateTime}, 
			#{deleteTime}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.visit.entity.VisitEntity">
		SELECT
			`id`, 
			`name`, 
			`content`, 
			`mobile`, 
			`contact_address`, 
			`org_id`,
			`user_id_create`,
			`remarks`, 
			`operator`, 
			`create_time`, 
			`update_time`, 
			`delete_time`
		FROM
			b_visit
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE b_visit
	 	<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="contactAddress != null">`contact_address` = #{contactAddress}, </if>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="userIdCreate != null">`user_id_create` = #{userIdCreate}, </if>
			<if test="remarks != null">`remarks` = #{remarks}, </if>
			<if test="operator != null">`operator` = #{operator}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="deleteTime != null">`delete_time` = #{deleteTime}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			b_visit
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>